<!doctype html>
<html>
<head>
  <title>A Compliment</title>
</head>
<body>
    <form action="/madlib">
        {{me}}
        Choose your name,color,noun and an adjective.
        Name
        <select name="person">
            <option value="ross">Ross</option>
            <option value="rachel">Rachel</option>
            <option value="joey">Joey</option>
            <option value="phoebe">Phoebe</option>
            <option value="chandler">Chandler</option>
            <option value="monica">Monica</option>
        </select><br>
        Color
        <select name="color">
            <option value="red">Red</option>
            <option value="blue">Blue</option>
            <option value="orange">Orange</option>
            <option value="green">Green</option>
        </select><br>
        Noun
        <select name="noun">
            <option value="laptop">Laptop</option>
            <option value="remote">Remote</option>
            <option value="balloon">Balloon</option>
            <option value="package">Package</option>
        </select><br>
        adjective
        <select name="adjective">
            <option value="awesome">Awesome</option>
            <option value="surprising">Surprising</option>
            <option value="chaotic">Chaotic</option>
            <option value="unexpected">Unexpected</option>
        </select><br>
            Choose one or more fav things to do.
          
            <input type="checkbox" name="favthing" value="bicycling">
            <label>Bicycling</label>
          
            <input type="checkbox" name="favthing" value="gaming">
            <label>Gaming</label>
          
            <input type="checkbox" name="favthing" value="dancing">
            <label>Dancing</label>

            <input type="checkbox" name="favthing" value="running">
            <label>Running/label>
          
            <input type="checkbox" name="favthing" value="kite-flying">
            <label>Kite Flying</label>
        
      
      <input type="submit">
      
    </form>
</body>
</html>